In [1]:
import numpy as np
import pandas as pd
np.random.seed(12345)
import matplotlib.pyplot as plt
plt.rc('figure', figsize=(10, 6))
PREVIOUS_MAX_ROWS = pd.options.display.max_rows
pd.options.display.max_columns = 20
pd.options.display.max_rows = 20
pd.options.display.max_colwidth = 80
np.set_printoptions(precision=4, suppress=True)

In [2]:
data = pd.DataFrame({
    'x0': [1, 2, 3, 4, 5],
    'x1': [0.01, -0.01, 0.25, -4.1, 0.],
    'y': [-1.5, 0., 3.6, 1.3, -2.]})
data

   x0    x1    y
0   1  0.01 -1.5
1   2 -0.01  0.0
2   3  0.25  3.6
3   4 -4.10  1.3
4   5  0.00 -2.0

In [3]:
data.to_numpy()

array([[ 1.  ,  0.01, -1.5 ],
       [ 2.  , -0.01,  0.  ],
       [ 3.  ,  0.25,  3.6 ],
       [ 4.  , -4.1 ,  1.3 ],
       [ 5.  ,  0.  , -2.  ]])

In [4]:
df2 = pd.DataFrame(data.to_numpy(), columns=['one', 'two', 'three'])
df2

   one   two  three
0  1.0  0.01   -1.5
1  2.0 -0.01    0.0
2  3.0  0.25    3.6
3  4.0 -4.10    1.3
4  5.0  0.00   -2.0

In [5]:
df3 = data.copy()
df3['strings'] = ['a', 'b', 'c', 'd', 'e']
df3.to_numpy()

array([[1, 0.01, -1.5, 'a'],
       [2, -0.01, 0.0, 'b'],
       [3, 0.25, 3.6, 'c'],
       [4, -4.1, 1.3, 'd'],
       [5, 0.0, -2.0, 'e']], dtype=object)

In [6]:
model_cols = ['x0', 'x1']
data.loc[:, model_cols].to_numpy()

array([[ 1.  ,  0.01],
       [ 2.  , -0.01],
       [ 3.  ,  0.25],
       [ 4.  , -4.1 ],
       [ 5.  ,  0.  ]])

In [7]:
data['category'] = pd.Categorical(['a', 'b', 'a', 'a', 'b'],
                                  categories=['a', 'b'])
data

   x0    x1    y category
0   1  0.01 -1.5        a
1   2 -0.01  0.0        b
2   3  0.25  3.6        a
3   4 -4.10  1.3        a
4   5  0.00 -2.0        b

In [9]:
dummies = pd.get_dummies(data['category'], prefix='category',
                         dtype=float)
dummies

   category_a  category_b
0         1.0         0.0
1         0.0         1.0
2         1.0         0.0
3         1.0         0.0
4         0.0         1.0

In [10]:
data_with_dummies = data.drop('category', axis=1).join(dummies)
data_with_dummies

   x0    x1    y  category_a  category_b
0   1  0.01 -1.5         1.0         0.0
1   2 -0.01  0.0         0.0         1.0
2   3  0.25  3.6         1.0         0.0
3   4 -4.10  1.3         1.0         0.0
4   5  0.00 -2.0         0.0         1.0

In [11]:
data = pd.DataFrame({
    'x0': [1, 2, 3, 4, 5],
    'x1': [0.01, -0.01, 0.25, -4.1, 0.],
    'y': [-1.5, 0., 3.6, 1.3, -2.]})
data

   x0    x1    y
0   1  0.01 -1.5
1   2 -0.01  0.0
2   3  0.25  3.6
3   4 -4.10  1.3
4   5  0.00 -2.0

In [13]:
import patsy

In [14]:
y, X = patsy.dmatrices("y ~ x0 + x1", data)

In [17]:
np.asarray(y)

array([[-1.5],
       [ 0. ],
       [ 3.6],
       [ 1.3],
       [-2. ]])

In [18]:
np.asarray(X)

array([[ 1.  ,  1.  ,  0.01],
       [ 1.  ,  2.  , -0.01],
       [ 1.  ,  3.  ,  0.25],
       [ 1.  ,  4.  , -4.1 ],
       [ 1.  ,  5.  ,  0.  ]])

In [24]:
patsy.dmatrices('y ~ x0 + x1 + 0', data)[1]

DesignMatrix with shape (5, 2)
  x0     x1
   1   0.01
   2  -0.01
   3   0.25
   4  -4.10
   5   0.00
  Terms:
    'x0' (column 0)
    'x1' (column 1)

In [20]:
coef, resid, _, _ = np.linalg.lstsq(X, y, rcond=None)

In [25]:
coef = pd.Series(coef.squeeze(), index=X.design_info.column_names)
coef

Intercept    0.312910
x0          -0.079106
x1          -0.265464
dtype: float64

In [32]:
coef

Intercept    0.312910
x0          -0.079106
x1          -0.265464
dtype: float64

In [35]:
data['predict_y'] = data[['x0', 'x1']] @ coef.loc[['x0', 'x1']] + coef.loc['Intercept']

In [37]:
print(data)

   x0    x1    y  predict_y
0   1  0.01 -1.5   0.231149
1   2 -0.01  0.0   0.157353
2   3  0.25  3.6   0.009227
3   4 -4.10  1.3   1.084889
4   5  0.00 -2.0  -0.082618

In [26]:
y, X = patsy.dmatrices('y ~ x0 + np.log(np.abs(x1) + 1)', data)
X

DesignMatrix with shape (5, 3)
  Intercept  x0  np.log(np.abs(x1) + 1)
          1   1                 0.00995
          1   2                 0.00995
          1   3                 0.22314
          1   4                 1.62924
          1   5                 0.00000
  Terms:
    'Intercept' (column 0)
    'x0' (column 1)
    'np.log(np.abs(x1) + 1)' (column 2)

In [27]:
y, X = patsy.dmatrices('y ~ standardize(x0) + center(x1)', data)
X

DesignMatrix with shape (5, 3)
  Intercept  standardize(x0)  center(x1)
          1         -1.41421        0.78
          1         -0.70711        0.76
          1          0.00000        1.02
          1          0.70711       -3.33
          1          1.41421        0.77
  Terms:
    'Intercept' (column 0)
    'standardize(x0)' (column 1)
    'center(x1)' (column 2)

In [16]:
new_data = pd.DataFrame({
    'x0': [6, 7, 8, 9],
    'x1': [3.1, -0.5, 0, 2.3],
    'y': [1, 2, 3, 4]})
new_X = patsy.build_design_matrices([X.design_info], new_data)
new_X

In [17]:
y, X = patsy.dmatrices('y ~ I(x0 + x1)', data)
X

In [18]:
data = pd.DataFrame({
    'key1': ['a', 'a', 'b', 'b', 'a', 'b', 'a', 'b'],
    'key2': [0, 1, 0, 1, 0, 1, 0, 0],
    'v1': [1, 2, 3, 4, 5, 6, 7, 8],
    'v2': [-1, 0, 2.5, -0.5, 4.0, -1.2, 0.2, -1.7]
})
y, X = patsy.dmatrices('v2 ~ key1', data)
X

In [19]:
y, X = patsy.dmatrices('v2 ~ key1 + 0', data)
X

In [20]:
y, X = patsy.dmatrices('v2 ~ C(key2)', data)
X

In [21]:
data['key2'] = data['key2'].map({0: 'zero', 1: 'one'})
data
y, X = patsy.dmatrices('v2 ~ key1 + key2', data)
X
y, X = patsy.dmatrices('v2 ~ key1 + key2 + key1:key2', data)
X

In [38]:
import statsmodels.api as sm
import statsmodels.formula.api as smf

In [39]:
import statsmodels.api as sm
import statsmodels.formula.api as smf
# To make the example reproducible
rng = np.random.default_rng(seed=12345)

def dnorm(mean, variance, size=1):
    if isinstance(size, int):
        size = size,
    return mean + np.sqrt(variance) * rng.standard_normal(*size)

N = 100
X = np.c_[dnorm(0, 0.4, size=N),
          dnorm(0, 0.6, size=N),
          dnorm(0, 0.2, size=N)]
eps = dnorm(0, 0.1, size=N)
beta = [0.1, 0.3, 0.5]

y = np.dot(X, beta) + eps

In [40]:
X[:5]

array([[-0.9005, -0.1894, -1.0279],
       [ 0.7993, -1.546 , -0.3274],
       [-0.5507, -0.1203,  0.3294],
       [-0.1639,  0.824 ,  0.2083],
       [-0.0477, -0.2131, -0.0482]])

In [41]:
y[:5]

array([-0.5995, -0.5885,  0.1856, -0.0075, -0.0154])

In [42]:
X_model = sm.add_constant(X)
X_model[:5]

array([[ 1.    , -0.9005, -0.1894, -1.0279],
       [ 1.    ,  0.7993, -1.546 , -0.3274],
       [ 1.    , -0.5507, -0.1203,  0.3294],
       [ 1.    , -0.1639,  0.824 ,  0.2083],
       [ 1.    , -0.0477, -0.2131, -0.0482]])

In [71]:
model = sm.OLS(y, X)
results = model.fit()
results.params

array([0.0668, 0.268 , 0.4505])

In [72]:
print(results.summary())

                                 OLS Regression Results
=======================================================================================
Dep. Variable:                      y   R-squared (uncentered):                   0.469
Model:                            OLS   Adj. R-squared (uncentered):              0.452
Method:                 Least Squares   F-statistic:                              28.51
Date:                Tue, 30 Apr 2024   Prob (F-statistic):                    2.66e-13
Time:                        17:06:52   Log-Likelihood:                         -25.611
No. Observations:                 100   AIC:                                      57.22
Df Residuals:                      97   BIC:                                      65.04
Df Model:                           3
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
x1             0.0668      0.054      1.243      0.217      -0.040       0.174
x2             0.2680      0.042      6.313      0.000       0.184       0.352
x3             0.4505      0.068      6.605      0.000       0.315       0.586
==============================================================================
Omnibus:                        0.435   Durbin-Watson:                   1.869
Prob(Omnibus):                  0.805   Jarque-Bera (JB):                0.301
Skew:                           0.134   Prob(JB):                        0.860
Kurtosis:                       2.995   Cond. No.                         1.64
==============================================================================

Notes:
[1] R² is computed without centering (uncentered) since the model does not contain a constant.
[2] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [75]:
(X @ results.params)[:5]

array([-0.574 , -0.5085,  0.0794,  0.3037, -0.082 ])

In [74]:
y_pred = results.predict(exog=X)
y_pred[:5]

array([-0.574 , -0.5085,  0.0794,  0.3037, -0.082 ])

In [76]:
data = pd.DataFrame(X, columns=['col0', 'col1', 'col2'])
data['y'] = y
data[:5]

       col0      col1      col2         y
0 -0.900506 -0.189430 -1.027870 -0.599527
1  0.799252 -1.545984 -0.327397 -0.588454
2 -0.550655 -0.120254  0.329359  0.185634
3 -0.163916  0.824040  0.208275 -0.007477
4 -0.047651 -0.213147 -0.048244 -0.015374

In [65]:
results = smf.ols('y ~ col0 + col1 + col2', data=data).fit()

In [66]:
results.params

Intercept   -0.020799
col0         0.065813
col1         0.268970
col2         0.449419
dtype: float64

In [67]:
results.tvalues

Intercept   -0.652501
col0         1.219768
col1         6.312369
col2         6.567428
dtype: float64

In [68]:
results.predict(data[:5])

0   -0.592959
1   -0.531160
2    0.058636
3    0.283658
4   -0.102947
dtype: float64

In [77]:
init_x = 4

values = [init_x, init_x]
N = 1000

b0 = 0.8
b1 = -0.4
# AR(2)Structure(two lags)
noise = dnorm(0, 0.1, N)
for i in range(N):
    new_x = values[-1] * b0 + values[-2] * b1 + noise[i]
    values.append(new_x)

In [88]:
print(values[:6])

[4, 4, 2.162241438276088, 0.44422094827559927, -0.6607715230366092, -0.9778708006223169]

In [85]:
AutoReg?

Init signature:
AutoReg(
    endog,
    lags,
    trend='c',
    seasonal=False,
    exog=None,
    hold_back=None,
    period=None,
    missing='none',
    *,
    deterministic=None,
    old_names=False,
)
Docstring:
Autoregressive AR-X(p) model

Estimate an AR-X model using Conditional Maximum Likelihood (OLS).

Parameters
----------
endog : array_like
    A 1-d endogenous response variable. The dependent variable.
lags : {None, int, list[int]}
    The number of lags to include in the model if an integer or the
    list of lag indices to include.  For example, [1, 4] will only
    include lags 1 and 4 while lags=4 will include lags 1, 2, 3, and 4.
    None excludes all AR lags, and behave identically to 0.
trend : {'n', 'c', 't', 'ct'}
    The trend to include in the model:

    * 'n' - No trend.
    * 'c' - Constant only.
    * 't' - Time trend only.
    * 'ct' - Constant and time trend.

seasonal : bool
    Flag indicating whether to include seasonal dummies in the model. If
    seasonal is True and trend includes 'c', then the first period
    is excluded from the seasonal terms.
exog : array_like, optional
    Exogenous variables to include in the model. Must have the same number
    of observations as endog and should be aligned so that endog[i] is
    regressed on exog[i].
hold_back : {None, int}
    Initial observations to exclude from the estimation sample.  If None,
    then hold_back is equal to the maximum lag in the model.  Set to a
    non-zero value to produce comparable models with different lag
    length.  For example, to compare the fit of a model with lags=3 and
    lags=1, set hold_back=3 which ensures that both models are estimated
    using observations 3,...,nobs. hold_back must be >= the maximum lag in
    the model.
period : {None, int}
    The period of the data. Only used if seasonal is True. This parameter
    can be omitted if using a pandas object for endog that contains a
    recognized frequency.
missing : str
    Available options are 'none', 'drop', and 'raise'. If 'none', no nan
    checking is done. If 'drop', any observations with nans are dropped.
    If 'raise', an error is raised. Default is 'none'.
deterministic : DeterministicProcess
    A deterministic process.  If provided, trend and seasonal are ignored.
    A warning is raised if trend is not "n" and seasonal is not False.
old_names : bool
    Flag indicating whether to use the v0.11 names or the v0.12+ names.

    .. deprecated:: 0.13

       old_names is deprecated and will be removed after 0.14 is
       released. You must update any code reliant on the old variable
       names to use the new names.

See Also
--------
statsmodels.tsa.statespace.sarimax.SARIMAX
    Estimation of SARIMAX models using exact likelihood and the
    Kalman Filter.

Examples
--------
>>> import statsmodels.api as sm
>>> from statsmodels.tsa.ar_model import AutoReg
>>> data = sm.datasets.sunspots.load_pandas().data['SUNACTIVITY']
>>> out = 'AIC: {0:0.3f}, HQIC: {1:0.3f}, BIC: {2:0.3f}'

Start by fitting an unrestricted Seasonal AR model

>>> res = AutoReg(data, lags = [1, 11, 12]).fit()
>>> print(out.format(res.aic, res.hqic, res.bic))
AIC: 5.945, HQIC: 5.970, BIC: 6.007

An alternative used seasonal dummies

>>> res = AutoReg(data, lags=1, seasonal=True, period=11).fit()
>>> print(out.format(res.aic, res.hqic, res.bic))
AIC: 6.017, HQIC: 6.080, BIC: 6.175

Finally, both the seasonal AR structure and dummies can be included

>>> res = AutoReg(data, lags=[1, 11, 12], seasonal=True, period=11).fit()
>>> print(out.format(res.aic, res.hqic, res.bic))
AIC: 5.884, HQIC: 5.959, BIC: 6.071
File:           ~/opt/miniconda3/envs/data_science/lib/python3.10/site-packages/statsmodels/tsa/ar_model.py
Type:           type
Subclasses:     ARDL

In [84]:
from statsmodels.tsa.ar_model import AutoReg
MAXLAGS = 5
# Autoregressive AR-X(p) model
model = AutoReg(values, MAXLAGS)  # 5个 lag
results = model.fit()

In [86]:
results.params  # intercept, lag1, lag2, ...

array([ 0.0235,  0.8097, -0.4287, -0.0334,  0.0427, -0.0567])

In [89]:
print(results.summary())

                            AutoReg Model Results
==============================================================================
Dep. Variable:                      y   No. Observations:                 1002
Model:                     AutoReg(5)   Log Likelihood                -292.347
Method:               Conditional MLE   S.D. of innovations              0.324
Date:                Tue, 30 Apr 2024   AIC                            598.693
Time:                        17:32:32   BIC                            633.026
Sample:                             5   HQIC                           611.744
                                 1002
==============================================================================
                 coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
const          0.0235      0.010      2.258      0.024       0.003       0.044
y.L1           0.8097      0.032     25.611      0.000       0.748       0.872
y.L2          -0.4287      0.041    -10.540      0.000      -0.508      -0.349
y.L3          -0.0334      0.043     -0.778      0.436      -0.117       0.051
y.L4           0.0427      0.040      1.055      0.291      -0.037       0.122
y.L5          -0.0567      0.030     -1.882      0.060      -0.116       0.002
                                    Roots
=============================================================================
                  Real          Imaginary           Modulus         Frequency
-----------------------------------------------------------------------------
AR.1            1.1120           -0.9745j            1.4786           -0.1145
AR.2            1.1120           +0.9745j            1.4786            0.1145
AR.3            0.4064           -1.8346j            1.8791           -0.2153
AR.4            0.4064           +1.8346j            1.8791            0.2153
AR.5           -2.2842           -0.0000j            2.2842           -0.5000
-----------------------------------------------------------------------------

In [90]:
train = pd.read_csv('datasets/titanic/train.csv')
test = pd.read_csv('datasets/titanic/test.csv')
train.head(4)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Thayer)",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S

In [91]:
train.isna().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [92]:
test.isna().sum()

PassengerId      0
Pclass           0
Name             0
Sex              0
Age             86
SibSp            0
Parch            0
Ticket           0
Fare             1
Cabin          327
Embarked         0
dtype: int64

In [93]:
impute_value = train['Age'].median()
train['Age'] = train['Age'].fillna(impute_value)
test['Age'] = test['Age'].fillna(impute_value)

In [94]:
train['IsFemale'] = (train['Sex'] == 'female').astype(int)
test['IsFemale'] = (test['Sex'] == 'female').astype(int)

In [95]:
predictors = ['Pclass', 'IsFemale', 'Age']

X_train = train[predictors].to_numpy()
X_test = test[predictors].to_numpy()
y_train = train['Survived'].to_numpy()

In [96]:
X_train[:5]

array([[ 3.,  0., 22.],
       [ 1.,  1., 38.],
       [ 3.,  1., 26.],
       [ 1.,  1., 35.],
       [ 3.,  0., 35.]])

In [97]:
y_train[:5]

array([0, 1, 1, 1, 0])

In [40]:
from sklearn.linear_model import LogisticRegression

model = LogisticRegression()

In [41]:
model.fit(X_train, y_train)

In [42]:
y_predict = model.predict(X_test)
y_predict[:10]

In [43]:
from sklearn.linear_model import LogisticRegressionCV
model_cv = LogisticRegressionCV(Cs=10)
model_cv.fit(X_train, y_train)

In [44]:
from sklearn.model_selection import cross_val_score
model = LogisticRegression(C=10)
scores = cross_val_score(model, X_train, y_train, cv=4)
scores

In [10]:
from bisect import bisect_left, bisect_right

item = [(10, 5), (10, 6), (10, 7), (11, 6)]
bisect_left(item, (11, ))

3

In [11]:
bisect_right(item, (10, ))

0

In [46]:
'''
Author: wujianliang
Date: 2024-04-22 09:24:18
LastEditTime: 2024-05-04 17:23:44
LastEditors: wujianliang
Description: 
'''
pd.options.display.max_rows = PREVIOUS_MAX_ROWS